<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel="stylesheet", href="/css/libs.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
	body
		.render
		section#header
			include ./blocks/common/header.pug
		section
			include ./blocks/index/home.pug
		section#question
			include ./blocks/index/question.pug
		section#about
			include ./blocks/index/about.pug
		section
			include ./blocks/index/info1.pug
		section#info2
			include ./blocks/index/info2.pug
		section#info3
			include ./blocks/index/info3.pug
		section
			include ./blocks/index/items.pug
		section#footer
			include ./blocks/common/footer.pug
		script(src="/js/libs.min.js")
		script(src="/js/main.js")
