// colors
$black = #000
$white = #fff
$blue = #0E80D9
$orange = #FF8A00
$text = #313131
$gradient = background linear-gradient(133.2deg, #0E80D9 14.12%, #0863AA 91.16%)
$gradient-black = background linear-gradient(160.93deg, #076CBB 14.12%, #06518C 91.16%)

// fonts
$Bold = Bold
$ExtraBold = ExtraBold
$ExtraBoldLight = ExtraBoldLight
$Light = Light
$Medium = Medium
$Regular = Regular
$SemiBold = SemiBold
$Thin = Thin

