@import "_variables.styl"
@import "_fonts.styl"
@import "_global.styl"

//common
@import "./blocks/common/_header.styl"
@import "./blocks/common/_footer.styl"

// index page
@import "./blocks/index/_home.styl"
@import "./blocks/index/_question.styl"
@import "./blocks/index/_about.styl"
@import "./blocks/index/_info1.styl"
@import "./blocks/index/_info2.styl"
@import "./blocks/index/_info3.styl"
@import "./blocks/index/_items.styl"
