.footer-bg(style="background: url(/images/footer-bg.jpg) 50% 50% no-repeat; background-size: cover;")
.g-wrapper
	.footer
		.footer__block
			.footer__block-title Хотите узнать подробнее о вариантах сотрудничества и о наших услугах?
			.footer__block-text Отправьте информацию о своем проекте и свой Telegram-аккаунт в форме справа или напишите нам в Telegram сами, мы ответим на Все ваши вопросы.
			.footer__block-link
				a(href="#").footer__block-link-item
					i.fa.fa-paper-plane
					span Посетить Telegram-канал
			.footer__block-copy Company name. Все права защищены &copy; 2019.
		.footer__block
			.footer__block-header
				.footer__block-header-title Кратко расскажите о Вашем проекте
				.footer__block-header-img
					i.fa.fa-paper-plane
			form(action="#").footer__block-form
				.footer__block-form-input
					input(type="text" placeholder="Ваш Telegram-аккаунт" required="required")
				.footer__block-form-input
					textarea(type="text" placeholder="Пара слов о проекте" required="required")
				.footer__block-form-button
					button(type="submit")
						i.fa.fa-paper-plane
						span Отправить сообщение
