.g-wrapper
	.header
		a(href="/").header__logo Logo
		.header__items
			a(href="#question").header__items-item Что мы предлагаем
			a(href="#info2").header__items-item Как мы работаем
			a(href="#footer").header__items-item Контакты
		a(href="#").header__block
			.header__block-button
				i.fa.fa-paper-plane
				span Написать нам
	.headermob
		.headermob__menu
			i.fa.fa-bars
		a(href="/").headermob__logo Logo
		a(href="#").headermob__button
			i.fa.fa-paper-plane
		.headermob__items
			.headermob__items-close
				i.fa.fa-times
			.headermob__items-item
				a(href="#question") Что мы предлагаем
			.headermob__items-item
				a(href="#info2") Как мы работаем
			.headermob__items-item
				a(href="#footer") Контакты
