.g-wrapper
	.about-bg
		img(src="/images/big-circle-bg.png")
	.about
		.about__titles
			.about__titles-title
				p В России существует
				span более 30 тыс. компаний,
				p оказывающих такие услуги*
			.about__titles-desc *по данным AdIndex
		.about__block
			.about__block-text
				p При этом 95% бюджетов приходится на 100 игроков рынка.
				p Эти 100 компаний аккумулируют основные заказы и передают их на субподряд более мелким агентствам, выступая лишь посредниками. Но более мелкие агентства тоже передают эти заказы на субподряд и такая цепочка может состоять из 4-5 посредников, каждый из которых забирает от 30 до 50% стоимости.
				p Тендер, который выиграло крупное агентство за 50 млн. В конечном счете делается парой маленьких региональных компаний совместно с десятком фрилансеров за 3-5 млн.
				p И это не преувеличение.
		.about__block
			.about__block-text
				p Cоздатели данного сайта имеют более чем 20-летний опыт в digital, и работали как в ТОПовых рекламных и digital-агентствах, так и владели теми самими посредническими компаниями, через которые пропускались заказы крупного бизнеса и лишь 10-15% стоимости доходило до конечных исполнителей.
				p И это отнюдь не мошеннические схемы, просто из-за огромной конкуренции на рынке всегда найдется тот, кто захочет сильно демпинговать в надежде на «вот сейчас сделаю очень дешево и качественно, пополню портфолио, а также заполучу данного клиента на долго».
		.about__block
			.about__block-text
				p.nm Это лишь общее описание, за более подробной информацией можно
				a(href="#") обратиться в наш telegram-канал,
				p.nm и мы более подробно все объясним и приведем конкретные примеры, когда тендеры на 100 млн. делались тремя студентами-фрилансерами и заказчик оставался доволен, думая что над его проектом трудилась команда из 50 человек на протяжении 2х месяцев.
			a(href="#").about__block-image
				.about__block-image-telegram
					i.fa.fa-paper-plane
					.about__block-image-link Посетить Telegram-канал
