.home-bg(style="background: url(/images/home-bg.jpg) 50% 50% no-repeat #fff; background-size: cover;")
.home-bg2
.g-wrapper
	.home
		.home__block
			.home__block-text Вы являетесь лицом, ответственным за принятие решений о выборе подрядчика в рекламе, разработке сайтов, digital или performance маркетинге?
			.home__block-title
			.home__block-button
				a(href="#").home__block-button-item Расскажите подробнее
		.home__block
			.home__block-image
				img(src="/images/home-img.png")
