.info1-bg(style="background: url(/images/info-bg1.jpg) 50% 50% no-repeat; background-size: cover;")
	img(src="/images/big-circle-l-bg.png")
.g-wrapper
	.info1
		.info1__blocks
			.info1__blocks-block
				.info1__blocks-block-title Создатели данного сайта знают по крайней мере 50 хороших региональных компаний
				.info1__blocks-block-text
					p И отдают им огромное кол-во заказов на субподряд, Эти компании занимаются интернет-рекламой, маркетингом, разработкой сайтов/приложений и другими услугами в digital.
					p Все эти компании объединяет одно: они отлично делают свою работу, выступаю субподрядчиками для крупных digital-агентств за 20-30% стоимости, которую этим агентствам предлагает конечный заказчик.
			.info1__blocks-block
				.info1__blocks-block-title Поможем Вам обойти крупное агенство
				.info1__blocks-block-text
					p И получить за это
					span вознаграждение от 10 до 30%
					p от стоимости контракта.
			.info1__blocks-block
				.info1__blocks-block-title Заинтересовало данное предложение?
				a(href="#").info1__blocks-block-button
					div
						i.fa.fa-paper-plane
						p Написать нам
