.g-wrapper
	.info2-bg
		img(src="/images/circle-bg.png")
	.info2
		.info2__blocks
			.info2__blocks-block
				.info2__blocks-block-title Как распределяется прибыль сейчас:
				.info2__blocks-block-number 70-80%
				.info2__blocks-block-text теряется на промежуточных этапах
				.info2__blocks-block-number 20-30%
				.info2__blocks-block-text получает фактический исполнитель контракта
			.info2__blocks-block
				.info2__blocks-block-container
					.info2__blocks-block-container-block
						.info2__blocks-block-container-block-title Как предлагаем мы (win-win решение для всех):
					.info2__blocks-block-container-block
						.info2__blocks-block-container-block-number 10-20%
						.info2__blocks-block-container-block-text экономия заказчика
					.info2__blocks-block-container-block
						.info2__blocks-block-container-block-number 50%
						.info2__blocks-block-container-block-text получает исполнитель
				.info2__blocks-block-container
					.info2__blocks-block-container-block
						.info2__blocks-block-container-block-number 30-40%
						.info2__blocks-block-container-block-text получает менеджер заказчика
					.info2__blocks-block-container-block
						i.fa.fa-check
