.g-wrapper
	.info3
		.info3__blocks
			.info3__blocks-item
				.info3__blocks-item-image
					img(src="/images/info3-image1.png")
				.info3__blocks-item-content
					.info3__blocks-item-content-title
						span Ваша
						span выгода
					.info3__blocks-item-content-text Вы получаете до 40% от стоимости контракта. Наш сайт выступает гарантом: все сделки заключаются анонимно и мы даем гарантии того, что Ваш работодатель не узнает об этом.
			.info3__blocks-item
				.info3__blocks-item-image
					img(src="/images/info3-image2.png")
				.info3__blocks-item-content
					.info3__blocks-item-content-title
						span Ваша
						span безопасность
					.info3__blocks-item-content-text Все действия происходят дистанционно и мы не узнаем личность менеджера. Варианты выплаты вознаграждения - наличные или любая доступная криптовалюта.
		.info3__blocks
			.info3__blocks-item
				.info3__blocks-item-content
					.info3__blocks-item-content-title Наша выгода
					.info3__blocks-item-content-text Мы заключаем агентские соглашения со всеми поставщиками услуг и получаем комиссию. Можно дописать сюда еще пару предложений, чтобы количество символов было примерно равно выгоде поставщиков? А основное выделить шрифтом.
			.info3__blocks-item
				.info3__blocks-item-content
					.info3__blocks-item-content-title Выгода поставщиков
					.info3__blocks-item-content-text Они получают прямые контракты по более выгодным ценам, чем если бы они работали на субподряде. Также при такой схеме они имеют право пополнять свое портфолио (чего невозможно сделать при работе на субподряде)
