.g-wrapper
	.items
		.items__block
			.items__block-content
				.items__block-content-number
					img(src="/images/1.png")
				.items__block-content-title
					p Вы сообщаете о проведении тендера
				a(href="#").items__block-content-button
					i.fa.fa-paper-plane
					span Написать нам
			.items__block-text Знак, как принято считать, решительно понимает под собой здравый смысл. Апперцепция естественно контролирует субъективный принцип восприятия. Надо сказать, что антропосоциология представляет собой закон внешнего мира.
		.items__block
			.items__block-content
				.items__block-content-number
					img(src="/images/2.png")
				.items__block-content-title Даете советы по подготовке «выигрышной документации»
			.items__block-text Единственной космической субстанцией Гумбольдт считал материю, наделенную внутренней активностью.
		.items__block
			.items__block-content
				.items__block-content-number
					img(src="/images/3.png")
				.items__block-content-title Мы находим наиболее релевантного исполнителя
			.items__block-text Школа дискредитирует смысл жизни. Согласно мнению известных философов, исчисление.
		.items__block
			.items__block-content
				.items__block-content-number
					img(src="/images/4.png")
				.items__block-content-title Вы содействуете победе подобранного кандидата
			.items__block-text Генетика естественно создает естественный позитивизм, открывая новые горизонты. Единственной космической.
		.items__block
			.items__block-content
				.items__block-content-number
					img(src="/images/5.png")
				.items__block-content-title Получаете комиссию сразу после заключения контракта
			.items__block-text Гумбольдт считал материю, наделенную внутренней активностью, несмотря на это отношение.
