@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/FontAwesome.otf");
}
@font-face {
  font-family: 'Black';
  src: url("/fonts/ralewayblack.ttf");
}
@font-face {
  font-family: 'Bold';
  src: url("/fonts/ralewaybold.ttf");
}
@font-face {
  font-family: 'ExtraBold';
  src: url("/fonts/ralewayextrabold.ttf");
}
@font-face {
  font-family: 'ExtraBoldLight';
  src: url("/fonts/ralewayextralight.ttf");
}
@font-face {
  font-family: 'Light';
  src: url("/fonts/ralewaylight.ttf");
}
@font-face {
  font-family: 'Medium';
  src: url("/fonts/ralewaymedium.ttf");
}
@font-face {
  font-family: 'Regular';
  src: url("/fonts/ralewayregular.ttf");
}
@font-face {
  font-family: 'SemiBold';
  src: url("/fonts/ralewaysemibold.ttf");
}
@font-face {
  font-family: 'Thin';
  src: url("/fonts/ralewaythin.ttf");
}
