.question
	display flex
	justify-content space-between
	&__block
		flex-basis 40%
		opacity 0
		transform translateX(20px)
		&:nth-child(1)
			padding 80px 0
			flex-basis 50%
			opacity 0
			transform translateX(-20px)
		&:nth-child(2)
			opacity 0
			transform translateX(20px)
		&-title
			font-family $SemiBold
			font-size 1.5rem
			line-height 35px
			color $black
			margin-bottom 30px
		&-text
			font-family $Regular
			font-size 1.125rem
			line-height 26px
			color $text
@media(max-width: 991px)
	.question
		&__block
			&:nth-child(1)
				padding 40px 0
				flex-basis 100%
			&:nth-child(2)
				display none
