.footer-bg
	position absolute
	width 100%
	height 100%
.footer
	padding 80px 0 47px 0
	display flex
	justify-content space-between
	position relative
	&__block
		flex-basis 50%
		&:nth-child(2)
			background-color $white
			position absolute
			right 0
			width 418.5px
			bottom 0
			border-radius 20px 20px 0 0
			border 5px solid #359EF1
			border-bottom none
			padding 40px 50px
			opacity 0
			transform translateX(20px)
		&-title
			font-family $SemiBold
			font-size 1.5rem
			line-height 35px
			color $white
			margin-bottom 40px
		&-text
			font-family $Regular
			font-size 1.125rem
			line-height 26px
			color $white
			margin-bottom 40px
		&-link
			display flex
			&-item
				display inline-block
				background $gradient
				border-radius 5px
				padding 16px 38px
				color $white
				font-size 1.125rem
				line-height 26px
				margin-bottom 64px
				font-family $SemiBold
				transition .3s
				&:hover
					box-shadow 0px 0px 20px $blue
				& span
					margin-left 7px
					padding-bottom 2px
					border-bottom 1px solid rgba(255, 255, 255, 0.3)
		&-copy
			font-family $Regular
			font-size 0.75rem
			line-height 18px
			color $white
		&-header
			display flex
			justify-content space-between
			&-title
				flex-basis 80%
				font-family $SemiBold
				font-size 1.5rem
				line-height 35px
				color $text
				margin-bottom 30px
			&-img
				color rgba(14, 128, 217, 0.4)
				font-size 70px
		&-form
			& input
				line-height 21px
				width 100%
				font-size 0.825rem
				border 1px solid #E9E9E9
				background-color $white
				border-radius 5px
				padding 13px 25px
				margin-bottom 15px
			& textarea
				line-height 21px
				width 100%
				font-size 0.825rem
				border 1px solid #E9E9E9
				background-color $white
				border-radius 5px
				padding 13px 25px
				margin-bottom 24px
				resize none
				height 120px
			& button
				font-size 0.75rem
				line-height 18px
				text-transform uppercase
				color $white
				letter-spacing 1px
				font-family $ExtraBold
				border none
				width 100%
				justify-content center
				padding 16px
				background-color $orange
				border-radius 5px
				display inline-flex
				cursor pointer
				transition .3s
				&:hover
					box-shadow 0px 0px 20px $orange
				& i
					margin-top 3px
					margin-right 3px
@media(max-width: 991px)
	.footer
		padding-top 40px
		flex-wrap wrap
		&__block
			&:nth-child(1)
				flex-basis 100%
				order 2
			&:nth-child(2)
				order 1
				border-radius 20px
				border-bottom 5px solid #359ef1;
				position relative
				margin-bottom 30px
				left calc(50% - 209px)
				right auto
				bottom auto
				flex-basis auto
@media(max-width: 500px)
	.footer
		&__block
			&:nth-child(2)
				right auto
				width 100%
				left auto
				flex-basis 100%
			&-header
				&-title
					flex-basis 100%
				&-img
					display none
